
<div class="card">
  <% @disneymovies.each do |movie|%>
    <div class="card-category">
      <div class="toggle">
        <span>▶</span><h2><%= movie.title %></h2>
      </div>
      <div class="hidden">
        <div class="picture">
          <%= image_tag(url_for(movie.movie_url), class:'movie_image') %>
        </div>
        <div class="description">
          <p class="overview"><%= movie.overview %></p>
        </div>
      </div>
    </div>
  <% end %>



</div>
